/*Defult Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
a, a:hover{
    text-decoration: none;
}
input, button{
    outline: none;
}
img{
    max-width: 100%;
}
.container{
    width: 1170px;
    margin: auto;
    overflow: hidden;
    clear: both;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-8{
    width: 66.66%;
}
.col-10{
    width: 83.33%;
}


/*Header Style */
header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/laptop.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
}
header .flex{
    align-items: center;
}
header .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: flex-end;
}
header nav ul li a{
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    transition: 0.4s;
    border-radius: 3px;
}
header nav ul li a:hover{
    background: #898b90;
}
.intro {
    padding: 200px 0;
    text-align: center;
}

.intro h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}

.intro p {
    color: #ddd;
    font-size: 20px;
    line-height: 1.5;
}
/*Work Section Style */
.work-section {
    padding: 100px 0;
    background: #d6d1d1;
}
.work-section .heading {
    text-align: center;
    margin-bottom: 40px;
}
.work-section .heading h1{
    position: relative;
    font-size: 40px;
    color: #333;
}
.work-section .heading h1:after {content: "";position: absolute;top: 100%;left: 50%;background: #333;height: 3px;width: 400px;transform: translateX(-50%);}
.work-section .work {
    margin: 20px;
    padding: 20px 10px;
    border: 1px solid #eee;
    transition: 0.5s;
    border-radius: 5px;
    background: #fff;
}
.work-section .work:hover {
    box-shadow: 0px 5px 15px #8a8888;
}
.work-section .work h2{
    margin-bottom: 10px;
    color: #333;
}
.work-section .work img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
}
.work-section .work p{
    margin-bottom: 15px;
    color: #333;
}
.work-section .work .view-btn{
    text-align: right;
}
.work-section .work .view-btn a{
    display: inline-block;
    padding: 10px 20px;
    background: #898b90;
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
    transition: 0.3s;
}
.work-section .work .view-btn a:hover{
    background: #4d4e50;
}


/*Footer Section Style */
footer {
    padding-top: 100px;
    background: #666;
    color: #fff;
}
.footer-widget {
    margin-bottom: 30px;
}
.footer-widget h2{
    margin-bottom: 15px;
    padding: 3px 10px;
    border-left: 3px solid #fff;
}
.footer-widget p{
    margin-right: 30px;
    line-height: 1.4;
}
.footer-widget ul li a{
    font-size: 18px;
    color: #fff;
    display: block;
    padding: 8px 0;
    transition: 0.3s;
}
.footer-widget ul li a:hover{
    color: #161E2B;
}
.footer-widget .social-icons a i {
    margin-right:10px;
    color: #Fff;
    background: #333;
    padding: 10px;
    display: inline-block;
    transition: 0.3s;
    border-radius: 50%;
    border: 1px solid #333;
}
.footer-widget .social-icons a i:hover {
    background: #fff;
    color: #333;
}
.footer-widget form {
    margin: 20px 0;
    position: relative;
}
.footer-widget form input{
    margin: 0;
    padding: 5px;
    width: 100%;
}
.footer-widget form button{
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}
.footer-botton {
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #555;
}

@media (max-width: 1250px) {
    .container{
        width: 950px;
    }
}
@media (max-width: 991px) {
    .container{
        width: 750px;
    }
    .intro {
        padding: 150px 0;
    }
    .footer-widget .social-icons a i {
        margin-right: 5px;
        padding: 8px;
    }
}
@media (max-width: 767px) {
    .container{
        width: 550px;
    }
    .intro h1 {
        font-size: 40px;
    }
    header nav ul li a {
        padding: 8px 15px;
        font-size: 18px;
    }
    .col-4 {
        width: 50%;
    }
    .col-3 {
        width: 50%;
    }
}
@media (max-width: 576px) {
    .container{
        width: 100%;
        padding: 0 20px;
    }
    .col-4 {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
    header nav ul li a {
        padding: 5px 8px;
        font-size: 16px;
    }
    .intro {
        padding: 100px 0;
    }
    .intro h1 {
        font-size: 30px;
    }
    .work-section .heading h1 {
        font-size: 25px;
    }
}











